@charset "UTF-8";

body {
    background-color: #f8faff;
}

.banner {
    background:rgba(255,255,255,1);
    border-radius:2px;
}

.banner-title {
    padding: 0 0 1rem 0;
}

.banner-pic .swiper-container {
    height: 450px;
}

.order-btn {
    width: 160px;
    height: 48px;
    line-height: 48px;
    background: linear-gradient(-90deg, rgba(0, 184, 212, 1), rgba(127, 241, 251, 1));
    border-radius: 24px;
    box-shadow: 0px 2px 8px 1px rgba(80, 181, 208, 0.29);
    padding: 7px 18px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.d-content {
    margin: 0 2rem;
    background:rgba(255,255,255,1);
    border-radius:2px;
    box-shadow:0px 2px 3px 0px rgba(8,153,175,0.1);
}

.content {
    padding-bottom: 5rem;
}

.banner-title {
    max-width: 1120px;
    width: 100%;
    margin: auto;
}

.banner-title h1 {
    width: 30%;
    margin: 2rem 0 0 4rem;
    display: inline-block;
}

.banner-title .d-price {
    width: 30%;
    display: inline-block;
    font-size: 30px;
    color: #00B8D4;
}

.banner-title .d-price sub {
    font-size: 14px;
    color: #272727;
}

.banner-title .d-booking {
    width: 30%;
    display: inline-block;
    color: #272727;
}

.d-part {
    margin: 1.5rem;
}

.d-part-title {
    border-bottom: solid rgba(237,239,250,1);
    border-bottom-width: 1px;
}

.d-part-title h2 {
    margin: 1rem;
    font-size:14px;
    font-weight:bold;
    color:rgba(39,39,39,1);
}

.d-part-content .d-column {
    display: inline-block;
    width: 16rem;
}

.d-part-content .d-column .d-label {
    margin: 1rem 0;
    font-size:12px;
    font-weight:400;
    color:rgba(153,153,153,1);
}

.d-part-content .d-column .d-text {
    font-size:14px;
    font-weight:400;
    color:rgba(39,39,39,1);
}

.part2 .d-part-content .d-column .d-label img {
    width: 40px;
    height: 40px;
}

.part2 .d-part-content .d-column .d-label,
.part2 .d-part-content .d-column .d-text {
    text-align: center;
}

.part2 .d-part-content .d-column {
    display: inline-block;
    width: 8rem;
}

.part3 .d-part-content p {
    margin: 1rem 0 0 2rem;
    font-size:14px;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:26px;
}

.part3 .d-part-content .d-part-p img:first-child {
    float: left;
    width: 1.4rem;
    height: 1.3rem;
    position: relative;
    top: .5rem;
}

.part4 .d-part-content {
    padding-bottom: 2rem;
}
.d-map {
    height: 450px;
}