.order-btn {
    width: 160px;
    height: 48px;
    line-height: 48px;
    background: linear-gradient(-90deg, rgba(0, 184, 212, 1), rgba(127, 241, 251, 1));
    border-radius: 24px;
    box-shadow: 0px 2px 8px 1px rgba(80, 181, 208, 0.29);
    position: absolute;
    top: 60px;
    right: 0;
    padding: 0 18px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.part-top {
    padding: 59px 0;
}

.part-top h2 {
    line-height: 31px;
    padding-bottom: 17px;
    font-weight: 500;
}

.part-top p {
    line-height: 14px;
    font-weight: 400;
}

.room-text {
    padding: 12px;
    flex-wrap: wrap;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}

.room-list ul li {
    width: 356px;
    height: 290px;
    margin-bottom: 60px;
    border: 1px solid #D7D7D7;
    border-image: linear-gradient(#D7D7D7, #fff) 30 30;
    cursor: pointer;
    position: relative;
    margin-right: 26px;
}

.room-list ul li:nth-child(3n+3) {
    margin-right: 0;
}

.room-text span small {
    font-weight: bold;
}

.room-text span {
    color: #fff;
}

.room-list ul li>img {
    width: 100%;
    height: 100%;
}

.room-list ul {
    flex-wrap: wrap;
}

.border-blue {
    width: 62px;
    height: 4px;
    background: rgba(0, 184, 212, 1);
    position: absolute;
    bottom: 0;
    left: 147px;
    display: none;
}

.room-list ul li:hover {
    border: 1px solid #00B8D4;
    box-shadow: 0px 11px 17px 3px rgba(8, 153, 175, 0.1);
}

.room-list ul li:hover .border-blue {
    display: block;
}

.part1 {
    margin-bottom: 30px;
}

.btn {
    width: 456px;
    margin: 0 auto 34px;
}

.btn li {
    margin-right: 50px;
    padding: 18px 0;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.btn li.on {
    border-bottom: 2px solid #00B8D4;
    color: #00B8D4;
}

.tablist {
    margin-top: -45px;
}

.con>ul {
    position: absolute;
}

.con>ul li {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;
}

.con-text {
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
}

.con-text1 {
    top: 96px;
    left: 120px;
}

.con-text2 {
    top: 28px;
    right: 130px;

}

.con-text2 li {
    line-height: 40px !important;
}

.con-text3 {
    width: 20px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.con-text3 li {
    line-height: 2rem;
}

.part2 {
    margin-bottom: 90px;
}

.part-top i {
    width: 10px;
    height: 10px;
    background: rgba(39, 39, 39, 1);
    border-radius: 50%;
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
}

.part3 {
    /* background-color: #fff; */
    /* background: url(../img/cst.png) no-repeat right center; */
    background-size: 718px 400px;
    height: 400px;
    margin-bottom: 84px;
}



.shop-list ul li {
    width: 96px;
    height: 32px;
    line-height: 32px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding-left: 12px;
    cursor: pointer;
}

.shop-list ul li:hover {
    box-shadow: 0px 2px 8px 1px rgba(80, 181, 208, 0.29);
}

.shop-list ul:last-child {
    width: 486px;
}

.shop-list ul:first-child {
    display: flex;
    width: 520px;
    flex-wrap: wrap;

}

.shop-list ul:first-child li {
    margin-right: 34px;
    margin-bottom: 38px;
}

.shop-list ul:first-child li:nth-child(3),
.shop-list ul:first-child li:nth-child(6) {
    margin-right: 164px;
}

.part4 {
    background: url(../img/beij.jpg) no-repeat center center;
    background-size: 100% 100%;
    padding-bottom: 36px;
}


.facility-list ul {
    flex-wrap: wrap;
    padding: 0 40px;
}

.facility-list ul li {
    margin-bottom: 54px;
    width: 260px;
}


.facility-list ul li h5 {
    margin: 30px 0 20px;
    line-height: 13px;
}

.tabbox .tab li.on {
    box-shadow: 0px 2px 8px 1px rgba(80, 181, 208, 0.29);
}

.tab-cont {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 720px;
    height: 100%;
    z-index: -1;
}

.w100 {
    width: 100px;
}

.w240 {
    width: 240px;
}

.mb28 {
    margin-bottom: 28px;
}

.w654 {
    width: 654px;
}

.model-content {
    padding: 54px 40px;
}

.form-list input,
.form-list select {
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
}

.mt86 {
    margin-top: 86px;
}

.dilogs {
    margin: 70px auto 100px;
}

.mt86 button.next {
    margin-left: 310px;
    display: inline-block;
}

.mt86 p {
    margin-left: 10px;
    width: 200px;
    display: inline-block;
}