
.login-banner {
	height: calc(100% - 350px);
}

.box .banner h1.login-banner {
	position: absolute;
	top: 24.21rem;
	left: 31.71rem;
	font-size:42px;
	font-weight:500;
	color:rgba(255,255,255,1);
}

.box .banner {
	/*height: calc(100%-350px);*/
}

.box .banner .login-card {
	position: absolute;
	top: 15rem;
	right: 5rem;
	width:30rem;
	/*height:32rem;*/
	background:rgba(255,255,255,1);
	border-radius: .29rem;
}

.box .banner .login-card .login-title {
	font-size:20px;
	font-weight:500;
	color:rgba(0,184,212,1);
	text-align: center;
	margin: 0 1rem;
	padding: 2rem 5rem;
	border-bottom: solid #00B8D4;
}

.box .banner .login-card .login-content {
	font-size:2rem;
	font-weight:500;
	color:rgba(0,184,212,1);
	text-align: center;
	margin: 0 1rem;
	padding: 0 2rem 2rem;
	
}

.box .banner .login-card .login-content input {
	background: rgba(0,184,212,0);
	height: 2.71rem;
	border-radius: .29rem;
	border: solid #D7D7D7;
	border-width: 0.07rem;
	width: 100%;
	padding-left: 20px;
}

.box .banner .login-card .login-content input::-webkit-input-placeholder {
	font-size:1rem;
}

.box .banner .login-card .login-content img.code,
.box .banner .login-card .login-content button.code {
	margin-left: 1rem;
	width: 6rem;
	height: 2.71rem;
}

.box .banner .login-card .login-content img.eye {
	position: relative;
    float: right;
    top: -1.6rem;
    right: 0.5rem;
}

.box .banner .login-card .login-content .login-forgot {
	margin-top: 1rem;
	text-align: right;
}

.box .banner .login-card .login-content button.btn {
	height:3rem;
    font-size: 12px;
	background:rgba(0,184,212,1);
	border: inherit;
	border-radius: .29rem;
	color: rgba(255,255,255,1);
}

button.b {
	margin-top: 2rem; 
	width:100%;
}

.box .banner .login-card .login-content .login-reg {
	margin-top: 1.5rem;
	color: #666666;
	font-weight:400;
}

.box .banner .login-card .login-content .login-reg a {
	color: #00B8D4;
	font-weight:400;
}

.active,
.active a {
	color: #00B8D4 !important;
	font-weight: 400;
}

.w60 {
	width: calc(100% - 7.5rem) !important;
	display: inline-block;
}

.form-group {
	margin-top: 2rem;
}

.text-error {
	color: #F24848;
	font-size:12px;
	font-weight:300;
	text-align: left;
	margin-top: .2rem;
	float: left;
}

.reg-success {
	margin: 3rem;
}

.reg-success-text {
	text-align: center;
	color: #272727;
	font-weight:500;
	font-size: 18px;
}