@charset "UTF-8";

h1 {
    position: relative;
    top: -18rem;
    width: 100%;
    font-size:44px;
    font-weight:100;
    color:rgba(255,255,255,1);
    text-align: center;
}

h2 {
    margin: 2rem 0;
    font-size:32px;
    font-weight:500;
    color:rgba(39,39,39,1);
    text-align: center;
}

.part {
    margin: 2em 0;
}

.part-text {
    float: left;
    font-size:20px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:36px;
}

.content .part:nth-child(1) .part-text {
    position: relative;
    top: -35rem;
    left: 10rem;
}

.content .part:nth-child(2) .part-text {
    position: relative;
    top: -35rem;
    left: 42rem;
}

.content .part:nth-child(3) .part-text {
    position: relative;
    top: -35rem;
    left: 70rem;
}

.content .part:nth-child(4) .part-text {
    position: relative;
    top: -35rem;
    left: 40rem;
}