.w1120.content.flex-between {
    margin-top: 0;
}

.fix-left {
    margin: 35px 0 0;
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0rem 3px 10px rgba(8,153,175,0.1);
    box-shadow: 0rem 3px 10px rgba(8,153,175,0.1);
    width: 170px;
    height: 180px;
}

.fix-left ul {
    text-align: center;
}

.fix-left ul>li {
    padding: 1rem;
    font-size: 14px;
    font-weight:300;
    color:rgba(102,102,102,1);
}

.fix-left ul li:hover {
    color: #00B8D4;
    border-bottom: 2px solid #00B8D4;
    cursor: pointer;
}

.fix-left ul>li.active {
    background:rgba(0,184,212,1);
    font-size:14px;
    font-weight:500;
    color:rgba(255,254,254,1)
}

.navFix {
    position: fixed;
    top: 0;
}

.right-content {
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0rem 2rem 3rem 0rem rgba(8,153,175,0.1);
    box-shadow: 0rem 2rem 3rem 0rem rgba(8,153,175,0.1);
    width: 940px;
    margin: 35px 0 110px 10px;
}

.part {
    margin: 3rem;
}

.part h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0,184,212,1);
    margin: 0 0 22px;
    line-height: 20px;
}

.part p {
    font-size: 14px;
    font-weight:400;
    color:rgba(39,39,39,1);
    margin: 0 0 44px;
    line-height: 26px;
}

.part p.important {
    font-size: 16px;
    font-weight:600;
    color:rgba(39,39,39,1);
    margin-bottom: 12px;
}

.right-content .part.spy-item:last-child p {
    padding-bottom: 28px;
}