.app-img {
    padding: 0 162px 0 144px;
    margin-bottom: 14px;
}

.app-img img:first-child {
    margin-top: 17px;
}

.app-img img:last-child {
    margin-top: 12px;
}

.app-img span {
    padding: 64px 100px 0 40px;
    line-height: 20px;
    font-weight: 400;
}

.account-top.flex-between {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.part-top {
    padding: 50px 0 56px;
}

.order-btn {
    width: 126px;
    height: 38px;
    line-height: 38px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 184, 212, 1)), to(rgba(127, 241, 251, 1)));
    background: -webkit-linear-gradient(right, rgba(0, 184, 212, 1), rgba(127, 241, 251, 1));
    background: -o-linear-gradient(right, rgba(0, 184, 212, 1), rgba(127, 241, 251, 1));
    background: linear-gradient(-90deg, rgba(0, 184, 212, 1), rgba(127, 241, 251, 1));
    border-radius: 24px;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(80, 181, 208, 0.29);
    box-shadow: 0px 2px 8px 1px rgba(80, 181, 208, 0.29);
    position: absolute;
    top: 60px;
    right: 0;
    padding: 0 18px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.room-list ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.room-list ul li {
    width: 278px;
    height: 226px;
    margin-bottom: 48px;
    border: 1px solid #D7D7D7;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#D7D7D7), to(#fff)) 30 30;
    -webkit-border-image: -webkit-linear-gradient(#D7D7D7, #fff) 30 30;
    -o-border-image: -o-linear-gradient(#D7D7D7, #fff) 30 30;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#D7D7D7), to(#fff)) 30 30;
    border-image: linear-gradient(#D7D7D7, #fff) 30 30;
    cursor: pointer;
}

.room-list ul li > img {
    width: 100%;
}

.room-text {
    padding: 18px 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.room-text span {
    line-height: 14px;
    margin-bottom: 10px;
}

.room-list ul li:hover {
    border: 1px solid #00B8D4;
    -webkit-box-shadow: 0px 11px 17px 3px rgba(8, 153, 175, 0.1);
    box-shadow: 0px 11px 17px 3px rgba(8, 153, 175, 0.1);
}

.content {
    margin-bottom: 80px;
    margin-top: 24px;
}

.account-text > h3 {
    line-height: 22px;
    padding-bottom: 14px;
    font-weight: 500;
}

.account-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 28px 0 32px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    margin-bottom: 14px;
}

h5 {
    font-weight: 400;
}

.account-top > img {
    margin-right: 30px;
}

.account-text small a {
    text-decoration: underline;
}

.part1 {
    padding: 0 32px;
}

.height-center a {
    display: block;
    line-height: 12px;
    text-decoration: underline;
}

.w760 {
    width: 780px;
    margin: 24px 0 40px 140px;


}

.message-list.w760 ul{
    overflow-y: auto;
    max-height: 156px;
}

.message-list ul li {
    padding-bottom: 20px;
}

.message-list ul li:last-child {
    padding-bottom: 0px;
}

.money-btn button {
    width: 96px;
    height: 30px;
    line-height: 30px;
    background: #00B8D4;
    border-radius: 16px;
    color: #fff;
    border: 0;
    clear: both;
    display: block;
    margin-bottom: 10px;
}

.money-month {
    /* height: 40px; */
    line-height: 40px;
    padding: 16px 0 40px;
}

.money-month img {
    margin-right: 20px;
}

.money-month span {
    font-weight: 400;
}

.content-body h4 {
    font-weight: 500;
}

.flex-between.height-center a {
    text-decoration: none;
}

.account-text {
    width: calc(100% - 142px);
}

.money-month span {
    width: 190px;
}

.flex-between.height-center .money-btn > a {
    text-decoration: underline;
}

.flex-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-2 p {
    width: 170px;
    font-weight: 500;
    text-align: right;
    line-height: 52px;
}

.flex-2 ul {
    width: 480px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 26px;
}

.flex-2 ul li span {
    width: 140px;
    height: 52px;
    line-height: 52px;
    border-radius: 4px;
    display: block;
    border: 1px solid #D7D7D7;
    margin-bottom: 20px;
    margin-right: 20px;
}

.model-content {
    padding: 26px 0 54px;
}

.flex-2 ul li.on span {
    border: 1px solid #00B8D4;
    background-color: #fff;
    background: url(../img/ss.png) no-repeat right top;
    background-size: 32px 28px;
    color: #00B8D4;
}

.radio {
    /* display: inline-block; */
    position: relative;
    line-height: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.radio input {
    display: none;
}

.radio .radio-bg {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    padding: 0;
    border-radius: 100%;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid #D7D7D7;
}

.radio .radio-on {
    line-height: 18px;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    padding: 0;
    border-radius: 100%;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid #D7D7D7;
    position: relative;
}

.radio input:checked + span.radio-on {
    background: #00B8D4;
}

.radio input:checked + span.radio-on .radios-o {
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    background: #fff;
    top: 5px;
    left: 5px;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    display: inline-block;

}

.radio img {
    margin: 0 10px 0 20px;
}

.w480 {
    width: 480px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mt148 {
    margin-top: 148px;
}

.mt44 {
    margin-top: 44px;
}

.w640 {
    width: 640px;
    margin: auto;
}

.mrg {
    margin: 56px auto 28px;
}

.table-list {
    width: 720px;
    margin: 0 auto 98px;
}

/*.money {*/
/*margin-bottom: 106px;*/
/*}*/

.message .img-text {
    padding: 30px 14px 24px;
    margin: auto;
    width: calc(100% - 60px);
    border-bottom: 1px solid #DFE2EA;
}

.message-list.w760 {
    margin: 34px 0 0 140px;
    line-height: 14px;
    padding-bottom: 40px;
}

.message {
    padding-bottom: 0 !important;
}

.money .height-center {
    width: calc(100% - 60px);
    margin: auto;
    border-bottom: 1px solid #DFE2EA;
    padding-right: 14px;
}

.money .img-text.flex {
    padding-left: 14px;
}