.body-list {
    background: #fff;
    padding: 22px 30px 222px;
}

.btn > li {
    margin-right: 24px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.btn > li.on {
    color: rgba(0, 184, 212, 1);
}

.con {
    padding: 68px 0;
    width: 660px;
    margin: auto;
}

button {
    background: rgba(0, 184, 212, 1);
    border-radius: 4px;
    color: #fff;
    border: 0;
}

.con input {
    height: 38px;
    line-height: 38px;
    background: rgba(0, 184, 212, 0);
    border: 0px solid rgba(225, 225, 225, 1);
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #e1e1e1;
}

.con .code-img {
    height: 38px;
    line-height: 38px;
}

.con .next-btn {
    height: 42px;
    line-height: 42px;
}

.w162 {
    width: 162px;
}

.w112 {
    width: 112px;
}

.w290 {
    width: 290px;
    margin: auto;
}

.w290 input:first-child {
    margin-bottom: 30px;
}

.w290 .flex-between {
    margin-bottom: 60px;
}

.btn-ul {
    padding-bottom: 76px;
}

.btn-ul li .rings {
    width: 10px;
    height: 10px;
    background: rgba(223, 223, 223, 1);
    border-radius: 50%;
    display: block;
    margin: 6px auto 0;
    position: relative;
    z-index:44;

}

.btn-ul li.on .rings {
    background: rgba(0, 184, 212, 1);
}

.btn-ul li.on {
    color: rgba(0, 184, 212, 1);
}

.bgda {
    background: rgba(218, 218, 218, 1);
}

.bgd4 {
    background: rgba(0, 184, 212, 1);
}

.error-text {
    position: absolute;
    left: 0;
    top: 116px;
    font-weight: 400;
}

.w400 {
    width: 400px;
    margin: 30px auto 13px;
}

.w400 h4 {
    padding: 36px 0 30px;
}

.con-li {
    display: none;
}

ul.btn-ul li {
    color: #999;
    font-size: 14px;
}

.lines {
    position: absolute;
    height: 2px;
    background: rgba(239, 242, 248, 1);
    border-radius: 1px;
    width: 590px;
    top: 31px;
    left: 38px;
    z-index: 0;
}

.w288 .relative > img {
    width: 18px;
    height: 12px;
    position: absolute;
    right: 14px;
    top: 20%;
}

.w288 {
    width: 288px;
    margin: 60px auto 0;
}

.w1120.content.flex-between {
    margin-bottom: 90px;
    /*margin-top: 10px;*/
}

.left-nav {
    margin-top: 24px;
}

.small-nav {
    margin-bottom: 6px;
}

.w288 input:first-child {
    margin-bottom: 26px;
}

.w288 .relative input {
    margin-bottom: 16px;
}

.w288 p {
    margin-bottom: 38px;
}

.success-box img {
    margin: 100px auto 50px;
}

button {
    color: #fff !important;
}